<script>
    export default {
        name: 'RegisterForm',
        props: {
            msg: String
        },
        data() {
            return {
                email: '',
                nickname: '',
                password: ''
            }
        },
        methods: {
            onSubmit() {
                let email = this.email
                let nickname = this.nickname
                let password = this.password
                this.$store.dispatch('REGISTER', { email, nickname, password })
                   .then(() => this.$router.push('/'))
                   .catch(err => console.log(err))    
            }
        }
    }
</script>


<template src="./template.html">
<style src="./style.css" scoped>

