<div>
    <el-row type="flex" justify="center">
        <el-col :span="6">
            <el-form :inline="true" style="box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)" label-position="left">
                <br>
                <el-form-item label="信箱">
                    <el-input v-model="email" placeholder="請輸入信箱" prefix-icon="el-icon-user-solid"></el-input>
                </el-form-item>
                <el-form-item label="匿稱">
                    <el-input v-model="nickname" placeholder="請輸入匿稱" prefix-icon="el-icon-user-solid"></el-input>
                </el-form-item>
                <el-form-item label="密碼">
                    <el-input v-model="password" type="password" placeholder="請輸入密碼" prefix-icon="el-icon-view" ></el-input>
                </el-form-item>
                <br>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">註冊</el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</div>

