<template>
  <div class="home">
    <LoginForm msg="登入"/>
  </div>
</template>

<script>
import LoginForm from '@/components/LoginComponent/index.vue'

export default {
  name: 'Login',
  components: {
    LoginForm
  }
}
</script>
