<template>
  <div class="home">
    <RegisterForm msg="註冊"/>
  </div>
</template>

<script>
import RegisterForm from '@/components/RegisterComponent/index.vue'

export default {
  name: 'Register',
  components: {
    RegisterForm
  }
}
</script>
