<script>
    export default {
        name: 'LoginForm',
        props: {
            msg: String
        },
        data() {
            return {
                email: '',
                password: ''
            }
        },
        methods: {
            onSubmit() {
                let email = this.email
                let password = this.password
                this.$store.dispatch('LOGIN', { email, password })
                   .then(() => this.$router.push('/'))
                   .catch(err => console.log(err))    
            }
        }
    }
</script>


<template src="./template.html">
<style src="./style.css" scoped>

